<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="Bolareshet.WPFSeedKit">
        <section name="mefModules" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
    </configSections>
    <Bolareshet.WPFSeedKit>
      <mefModules>
        <!--<add key="key01" value="Module1.dll"/>-->
      </mefModules>
    </Bolareshet.WPFSeedKit>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>